/*基本信息*/
body { font: 12px/1.6em Helvetica, Arial, sans-serif;margin:0px auto;text-align:center;background:#FFF;}

/*页面层容器*/
#container {margin:0px auto;}

/*页面头部*/
#header {width:1000px;margin:0 auto;background-color:#fff;overflow:hidden;}
#header #banner{height:auto;overflow:hidden;width:100%;}
#header #banner #logo{padding:25px 0 0 30px;float:left;overflow:hidden;}
#header #banner #nav{width:700px;height:80px;float:right;padding:10px 10px 0 0;overflow:hidden;}
#header #banner #nav #navImg{float:left;overflow:hidden;}
#header #banner #nav #navMenu{ text-align:left;float:right;width:200px;padding:10px 0 0 0;overflow:hidden;}
#menu{height:30px;background-color:#84A023;overflow:hidden;}
#menu ul{padding-left:50px;}
#menu ul li{line-height:30px; float:left;list-style:none;width:80px;font-size:13px;}
#menu ul li a:visited, #header #menu ul li a:link {text-decoration: none;}
#menu ul li a:hover {}

.lineTop{height:1px;background-color:#C0D47A;font-size:0;padding:0;margin:0;}
.line{height:6px;background-color:#EDF7C9;font-size:0;}

/*主页主体*/
#PageBody {width:960px;margin:0 auto;height:auto;background-color:#fff;margin-top:2px}

/*主页主体菜单*/
#PageBody #Sidebar{width:220px;margin:0 auto;float:left;text-align:left;}

/*主页主体的主体*/
#PageBody #MainBody{width:740px;margin:0 auto;float:right;text-align:left;background-color:yellow;}

/*book主体*/
#bookBody {width:960px;margin:0 auto;height:auto;background-color:#fff;margin-top:2px}
/*book主体菜单*/
#bookBody #Sidebar{width:215px;margin:0 auto;text-align:right;float:right;padding-left:5px}

/*book主体的主体*/
#bookBody #MainBody{width:740px;margin:0 auto;text-align:left;float:left;background-color:yellow;}

#MainBody .bigbox{ width:100%;margin-bottom:5px}

/*页面底部*/
#Footer {width:100%;margin:0 auto;background-color:#EDF7C9;}
#Footer #Ftext{ height:60px;overflow:hidden;width:960px;}

a,li,span,ul{padding:0;margin:0px;}
li{list-style-position:outside}

/*box*/
.Lbox{width: 215px;margin-bottom:5px}
.Lbox .rh .t1{
   text-align:left; padding-left:10px;height:24px;line-height:24px;font-size:13px;
   font-weight:bold;overflow:hidden;margin:0;color:#7B9D01;font-family:"楷体";
    
}
/* end box */

.links  { margin:0px 0 0 0;line-height:150%;padding:0;text-align:left;}
.links li { 
		list-style:none;
		background:url(img/red.gif) no-repeat 3px 6px;
		padding-left:12px;
		margin:4px 0 !important;margin:3px 0;
	}
.links span {float:right;color:#666;font-size:11px;font-family:Arial}
.links_single {
		background:url(img/red.gif) no-repeat 3px 10px;
		color:#f60 !important;
	}
.links_single a { color:#f60 !important; }


/*baidu box*/
.bigbox .rh .t1{
    padding-left:10px;height:30px;line-height:30px;font-size:15px;font-weight:bold;overflow:hidden;margin:0;

}
.bc0{padding:5px 5px 5px 8px;margin:0 6px 10px 6px;height:140px;text-align:center}

.rh{border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;zoom:1;padding-bottom:1px;background-color:#F7F7F7}
.rh_1,.rh_2,.rh_3,.rh_4,.rh_5{height:1px;overflow:hidden;font-size:0px;margin:0 1px;border:0px solid #E0E0E0;}
.rh_1{background:#E0E0E0;margin:0 3px; }
.rh_5,.rh_2{border-left-width: 2px;border-right-width:2px}
.rh_4,.rh_3{border-left-width: 1px;border-right-width:1px}
.rh_4,.rh_5,.rh_2,.rh_3{background-color:#F7F7F7;}


/*特别推荐*/
.tj{width:110px;float:left;margin:0 1px;}
.anthor {width:14px;height:125px;float:left;line-height:14px;overflow:hidden;margin-right:12px;padding-top:8px}
.imgw{border:1px solid #CCCCCC; background-color:#fff;padding:4px}
.imgw img{border:0;}

/*分类*/
.cat{height:240px;margin:0 10px;margin-bottom:10px;}
.catL{float:left;}
.catR{float:right;}
.catL,.catR{background-color:#fff;width:350px;height:100%;overflow:hidden;border:1px solid #e0e0e0;border-top:0px;}
.t2{   padding-left:10px;height:24px;overflow:hidden;margin:0;}
.t2 h2{float:left;margin:0;font-size:13px;line-height:24px; font-weight:bold;color:#7B9D01;font-family:"楷体"}
.t2 a{float:right;padding-right:12px}
.book{width:100%;padding:0 3px;}
.book h3{margin:0;font-size:12px;line-height:24px; font-weight:bold;color:#5E7705;}
.book .text{padding:0px 10px 0px 10px;line-height:130%}
.bookImg{float:left;width:75px;padding:0 5px;}

.bookList{padding:5px 10px;}
.bookList ul{list-style-type:none;}
.bookList ul li {overflow:hidden;line-height:22px;height:22px}

/*爬行*/
.pahang{padding:0 8px;} 

.state {
	display: block;
	width: 12px;
	height: 12px;
	background: url(image/img_state.gif) no-repeat;
	overflow: hidden;
	line-height: 999px;
}
.state.up {	background-position: 0 -12px; }
.state.down { background-position: 0 -24px; }
.pahangList{padding:0 5px;}
.pahangList  li{border:0px;padding:0;margin:0;list-style-type:none;list-style-position:outside;background: url(image/dash_bg.gif) bottom repeat-x;;padding:0px;margin:0px;height:25px!important;height:22px;}
.pahangList  li span{float: right;} 
.pahangList  li  a{float: left;} 


/*书本*/
#bookText{height:294px;padding:0 0px;overflow:hidden;}
#bookText #bookImgL{float:left;padding:0 0px 0 0;width:210px;margin:0 5px;}
#bookText #bookContext{float:right;width:510px;line-height:130%;font-size:13px;}
#bookText #bookContext h2{padding:0;margin:0;height:30px;line-height:24px;font-weight:bold;text-align:center;font-size:15px;}
#bookText #bookContext span{font-weight:bold;}
#bookText #bookContext #key{height:24px;line-height:24px;overflow:hidden;}
#bookText #bookContext #bContext{text-indent:20px;height:120px;overflow:hidden;}/*text-indent:20px;width:490px;height:50px;background-color:red*/
#bookText #bookContext .m{height:30px;line-height:30px;background: url(image/dash_bg.gif) bottom repeat-x;}
.m2 ul{list-style:none;}
.m2 ul li {float:left;padding-top:8px;width:170px;height:20px;line-height:20px;background: url(image/dash_bg.gif) bottom repeat-x;overflow:hidden;}
#bookText #bookContext #botton{ text-align:right;height:35px;line-height:35px;padding-right:20px;}

.gBotton{float:right;padding:10px 0 0 10px;}
.gBotton a:link,.gBotton a:visited{width:74px;float:left;margin-right:6px;background:url(image/botton.gif) no-repeat -74px 0;height:23px;display:inline;text-align:center;color:#fff;text-decoration:none;}
.gBotton a:hover{background:url(image/botton.gif) no-repeat 0 0;}
.gBotton a span{display:block;filter: DropShadow(Color=#4a8801, OffX=-1, OffY=-1, Positive=1);width:74px;line-height:23px;height:23px; cursor:pointer;}

.lineDot{height:1px;background: url(image/dash_bg.gif) bottom repeat-x;;font-size:0;padding:0;margin:0;}

/*
#list {padding-top:20px;text-align:center;margin:0 auto;}
#list .listCat{width:700px;margin-left:20px;text-align:left;border:1px solid #E0E0E0;}
#list .listCat h1{margin:0;padding:0;font-size:14px;text-indent:10px;height:30px;line-height:30px;}
#list .listCat ul,#list .listCat ul li{margin:0;padding:0;list-style:none;width:}
#list .listCat ul {margin:0 10px;background-color:#fff;display:inline-block;}
#list .listCat ul li{float:left;line-height:14px;height:14px;padding:6px 0 5px 1em;width:200px}
*/

.listCat{text-align:left;padding:0 0 5px;}
.listCat h1{margin:0;padding:0;font-size:14px;text-indent:10px;height:30px;line-height:30px;}
.listCat ul,#list .listCat ul li{margin:0;padding:0;list-style:none;}
.listCat ul {margin:0 10px;background-color:#fff;display:inline-block;overflow:auto;padding:0;}
.listCat ul li{overflow:hidden;float:left;line-height:24px;height:24px;padding:6px 0 5px 1.5em;width:220px;background: url(image/dash_bg.gif) bottom repeat-x;}


/*书本*/
#contextNavL{float:left;height:30px;line-height:30px;text-align:left;}
#contextNavR{float:right;width:220px;height:30px;line-height:30px;}
#contextNavR span{color:red}
.opt{height:30px;line-height:30px;text-align:right;padding-right:10px; }
.opt INPUT{height:24px;line-height:20px;margin:0 3px;}
#Context{padding:5px 15px;font-size:13px;text-indent:10px}
#Context h1{padding:20px 10px;margin:0;font-size:16px;text-align:center}

.cBotton a:link,.cBotton a:visited{width:74px;float:left;margin:3px 0 0 6px;background:url(image/botton.gif) no-repeat -74px 0;height:23px;display:inline;text-align:center;color:#fff;text-decoration:none;}
.cBotton a:hover{background:url(image/botton.gif) no-repeat 0 0;}
.cBotton a span{display:block;filter: DropShadow(Color=#4a8801, OffX=-1, OffY=-1, Positive=1);width:74px;line-height:23px;height:23px; cursor:pointer;}

/*js 右键菜单*/
#mmenu{width:200px;background-color:#F5F5F5;text-align:left;padding:10px 0;border:1px solid #A0A0A0;border-left:5px solid #A0A0A0;; }
#mmenu ul{padding:0;margin:0;list-style:none;}
#mmenu ul li{height:24px;line-height:24px;font-size:13px;padding:0px 0 0 20px;}
#mmenu ul li a{font-size:13px;text-decoration:none; }
#mmenu ul li a:link,#mmenu ul li a:visited,#mmenu ul li a:hover{color:green}